.busqueda-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.busqueda-container input {
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid #333;
  background: #222;
  color: #dee2e6;
  width: 300px;
  outline: none;
}

.busqueda-container input:focus {
  border-color: var(--primary);
}

.busqueda-container button {
  padding: 12px 24px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

.busqueda-container button:hover {
  background-color: #ff9505;
  transform: scale(1.05);
}