:root {
  --primary: #f7b538; /* Rojo Netflix */
  --bg-dark: #343a40;
  --bg-card: #212529;
  --text-main: #ffffff;
  --text-dim: #b3b3b3;
  --font: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: var(--font);
}

* {
  box-sizing: border-box;
}